# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Ambiente virtuale
venv/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Variabili d'ambiente
.env

# Editor / OS
.vscode/
.idea/
.DS_Store
